<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        {{ encore_entry_link_tags('app') }}

    </head>
    <body>
    <header>
        {% include "navbar.html.twig" %}
    </header>
        {% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
    {{ encore_entry_script_tags('app') }}
    </body>
</html>
